{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["*.config.js"],
  "parser": "babel-eslint",
  "env": {
    "es2017": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
